## Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:

#### Importing required libraries

In [449]:
import pandas as pd
from selenium import webdriver
import time

In [450]:
driver = webdriver.Chrome('chromedriver.exe')

#### Opening the desired website

In [451]:
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos')

#### Initialising the respective cell values to form a table

In [452]:
#1.Rank

rank = []

for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[1]'):
    rank.append(i.text.split('.')[0])
    
rank

#video_name

video_name = []

for j in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[2]'):
    video_name.append(j.text.split('[')[0])
    
len(video_name)

#uploader

uploader = []

for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[3]'.format(i)):
    uploader.append(i.text)
    
uploader

#views

views = []

for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[4]'.format(i)):
    views.append(i.text)
    
views

#date

date = []

for i in driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td[5]'.format(i)):
    date.append(i.text)

['June 17, 2016',
 'January 12, 2017',
 'October 8, 2016',
 'January 30, 2017',
 'April 6, 2015',
 'January 31, 2012',
 'November 19, 2014',
 'February 27, 2018',
 'May 2, 2018',
 'July 15, 2012',
 'March 6, 2014',
 'January 14, 2015',
 'October 22, 2015',
 'April 5, 2018',
 'September 5, 2013',
 'May 31, 2013',
 'October 7, 2014',
 'February 20, 2014',
 'December 3, 2015',
 'May 24, 2018',
 'August 18, 2014',
 'March 22, 2015',
 'May 31, 2018',
 'April 11, 2014',
 'July 25, 2012',
 'June 29, 2017',
 'November 9, 2017',
 'October 22, 2015',
 'June 4, 2010',
 'June 16, 2009']

In [453]:
print(len(rank), len(video_name), len(uploader), len(date), len(views))

30 30 30 30 30

#### DataFraming the data

In [454]:
table = pd.DataFrame({})
table['Rank'] = rank
table['Name'] = video_name
table['Artist'] = uploader
table['Upload date'] = date
table['Views(Billions)'] = views

In [455]:
table

,Rank,Name,Artist,Upload date,Views(Billions)
0,1,"""Baby Shark Dance""",Pinkfong Kids' Songs & Stories,"June 17, 2016",8.74
1,2,"""Despacito""",Luis Fonsi,"January 12, 2017",7.39
2,3,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",5.43
3,4,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.34
4,5,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.13
5,6,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.44
6,7,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.20
7,8,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.14
8,9,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",4.12
9,10,"""Gangnam Style""",Psy,"July 15, 2012",4.08
10,11,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",3.91
11,12,"""Sugar""",Maroon 5,"January 14, 2015",3.48
12,13,"""Sorry""",Justin Bieber,"October 22, 2015",3.44
13,14,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",3.38
14,15,"""Roar""",Katy Perry,"September 5, 2013",3.36
15,16,"""Counting Stars""",OneRepublic,"May 31, 2013",3.31
16,17,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.27
17,18,"""Dark Horse""",Katy Perry,"February 20, 2014",3.08
18,19,"""Faded""",Alan Walker,"December 3, 2015",3.08
19,20,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",3.07
20,21,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.06
21,22,"""Lean On""",Major Lazer,"March 22, 2015",3.05
22,23,"""Girls Like You""",Maroon 5,"May 31, 2018",3.04
23,24,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.04
24,25,"""Let Her Go""",Passenger,"July 25, 2012",3.00
25,26,"""Mi Gente""",J Balvin,"June 29, 2017",2.93
26,27,"""Perfect""",Ed Sheeran,"November 9, 2017",2.86
27,28,"""Hello""",Adele,"October 22, 2015",2.84
28,29,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",2.84
29,30,"""Axel F""",Crazy Frog,"June 16, 2009",2.83

## Q2. Scrape the details team India’s international fixtures from bcci.tv.

In [480]:
rider = webdriver.Chrome('chromedriver.exe')

#### Website is opened

In [481]:
rider.get('https://www.bcci.tv/')

In [482]:
import time

time.sleep(2)

#### Clicking on 'fixtures'

In [483]:
click_1 = rider.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]').click()

In [484]:
time.sleep(2)

In [485]:
click_2 = rider.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').click()

#### Intializing the data

In [486]:
#Match_Title

match_titles = []

try:
    for i in rider.find_elements_by_xpath("//strong[@class = 'fixture__name fixture__name--with-margin']"):
        match_titles.append(i.text)
except:
    match_titles.append('-')
    
match_titles

#Series

series = []

try:
    for i in rider.find_elements_by_xpath("//span[@class = 'u-unskewed-text fixture__tournament-label u-truncated']"):
        series.append(i.text)
except:
    series.append('-')
    
series

#Place

place = []

try:
    for i in rider.find_elements_by_xpath("//p[@class = 'fixture__additional-info']/span"):
        place.append(i.text)
except:
    place.append('-')
    
place

#Date

date = []

try:
    for i in rider.find_elements_by_xpath("//span[@class = 'fixture__datetime tablet-only']/strong"):
        date.append(i.text)
except:
    date.append('-')
    
date

#Time

time = []

try:
    for i in rider.find_elements_by_xpath("//span[@class = 'fixture__time']"):
        time.append(i.text[-9:])
except:
    time.append('-')

['15:00 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST', '15:30 IST']

#### DataFraming the data

In [488]:
fixtures = pd.DataFrame({})
fixtures['Match title'] = match_titles
fixtures['Series'] = series
fixtures['Place'] = place
fixtures['Date'] = date
fixtures['Time'] = time

In [489]:
fixtures

,Match title,Series,Place,Date,Time
0,Final,ICC WORLD TEST CHAMPIONSHIP,"The Ageas Bowl, Southampton",,15:00 IST
1,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",,15:30 IST
2,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",,15:30 IST
3,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",,15:30 IST
4,4th Test,ENGLAND V INDIA 2021,"The Oval, London",,15:30 IST
5,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",,15:30 IST

## Q3. Scrape the details of selenium exception from guru99.com.

In [490]:
driver = webdriver.Chrome('chromedriver.exe')

**

Couldn't find 'exception handling selenium' anywhere on homepage thus I chose to use the link directly

**

#### Opening the website

In [491]:
driver.get('https://www.guru99.com/exception-handling-selenium.html')

#### Initializing the data

In [492]:
#Name

name = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[1]'):
        name.append(i.text)
except:
    name.append('-')
    
name

#description

desc = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td[2]'):
        desc.append(i.text)
except:
    desc.append('-')

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.',
 'This Exception occurs if the frame target to be switched to does not exist.',
 'This Exception occurs when you switch to no presented alert.',
 'This Exception occurs if the window target to be switch does not exist.',
 'This Selenium exception occurs happens when the web element is detached from the current DOM.',
 'The WebDriver is acting after you quit the browser.',
 "Thrown when there is not enough time for a command to be completed. For Example, the element searched wasn't found in the specified time.",
 'This Exception takes place when the WebDriver is acting right after you close the browser.',
 'This type of Exception takes place when there is a disconnection in the driver.',
 'The command may not be completed as the element receiving the events is concealing the element which was requested clicked.',
 'This Selenium exception is thrown when any element is presented in the DOM. However, it is impossible to interact with such an element.',
 'This happens while interacting with the Firefox extension or the remote driver server.',
 'Exception is used as a placeholder in case if the server returns an error without a stack trace.',
 'This expectation will occur when IME engine activation has failed.',
 'It takes place when IME support is unavailable.',
 'Navigation made the user agent to hit a certificate warning. This can cause by an invalid or expired TLS certificate.',
 'It occurs when an argument does not belong to the expected type.',
 'This happens when you try to add a cookie under a different domain instead of current URL.',
 'This type of Exception matches an interacting operation that is not valid.',
 "It occurs when command can't be finished when the element is invalid.",
 'This Exception took place when the given session ID is not included in the list of active sessions. It means the session does not exist or is inactive either.',
 'This occurs when the frame or window target to be switched does not exist.',
 'This issue occurs while executing JavaScript given by the user.',
 'It occurs when you afford to get the session when the session is not created.',
 'This kind of Exception occurs when the attribute of an element could not be found.',
 'It takes place if the target provided to the ActionChains move() methodology is not valid. For Example, out of the document.',
 'ContextAware does mobile device testing.',
 'This Exception occurs when no cookie matching with the given pathname found for all the associated cookies of the currently browsing document.',
 'This Exception is a subclass of WebDriverException. This will occur when an element on the DOM does not exist.',
 'This Selenium exception is thrown when the server is not responding because of the problem that the capabilities described are not proper.',
 'It is not possible to capture a screen.',
 'It happens when a new session could not be successfully created.',
 'This occurs if a driver is unable to set a cookie.',
 'Happens if a support class did not get a web element as expected.',
 'This expectation occurs when there is an alert, but WebDriver is not able to perform Alert operation.',
 'It occurs when there is the appearance of an unexpected alert.',
 'This Exception happens when the requested command matches with a known URL but and not matching with a methodology for a specific URL.',
 'This Exception occurs only when the browser is not able to be opened or crashed because of some reason.',
 "This occurs when remote WebDriver does n't send valid commands as expected."]

#### DataFraming the data

In [493]:
guru = pd.DataFrame({})
guru['Name'] = name[1:]
guru['Description'] = desc[1:]

In [494]:
guru

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

## Q4. Scrape the details of State-wise GDP of India from statisticstime.com.

In [500]:
driver = webdriver.Chrome('chromedriver.exe')

In [501]:
driver.get('http://statisticstimes.com/')

#### Clicking on 'Economy' and 'India'

In [502]:
driver.find_element_by_xpath('//*[@id="top"]/div[2]/div[2]/button').click()

In [503]:
import time

time.sleep(2)

In [504]:
driver.find_element_by_xpath('//div[@class = "dropdown-content"]/a[3]').click()

In [505]:
time.sleep(1)

**

Sometimes, an adverstisement pops up. Gotta close it manually

**

In [507]:
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()

#### Details are collected from the table from the page

In [508]:
#Rank

rank = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[1]'):
        rank.append(i.text)
except:
    rank.append('-')
    
rank

#State

state = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]'):
        state.append(i.text)
except:
    state.append('-')
    
state

#State

state = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[2]'):
        state.append(i.text)
except:
    state.append('-')
    
#GSDP(19-20)

GSDP_1 = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[3]'):
        GSDP_1.append(i.text)
except:
    GSDP_1.append('-')
    
GSDP_1

#GSDP(18-19)

GSDP_2 = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[4]'):
        GSDP_2.append(i.text)
except:
    GSDP_2.append('-')
    
GSDP_2

#Share(2017)

share = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[5]'):
        share.append(i.text)
except:
    share.append('-')
    
share

#GDP($ billion)

gdp = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td[6]'):
        gdp.append(i.text)
except:
    gdp.append('-')

['399.921',
 '247.629',
 '240.726',
 '228.290',
 '226.806',
 '165.556',
 '143.179',
 '131.083',
 '130.791',
 '122.977',
 '118.733',
 '117.703',
 '111.519',
 '80.562',
 '79.957',
 '74.098',
 '47.982',
 '46.187',
 '45.145',
 '37.351',
 '23.690',
 '23.369',
 '11.115',
 '7.571',
 '6.397',
 '5.230',
 '5.086',
 '4.363',
 '4.233',
 '4.144',
 '3.737',
 '3.385',
 '-']

#### DataFraming the data

In [509]:
GDP = pd.DataFrame({})
GDP['Rank'] = rank
GDP['State'] = state
GDP['GSDP(19-20)'] = GSDP_1
GDP['GSDP(18-19)'] = GSDP_2
GDP['Share'] = share
GDP['GDP($ billion)'] = gdp

In [510]:
GDP

,Rank,State,GSDP(19-20),GSDP(18-19),Share,GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

## Q.5 Scrape the details of trending repositories on Github.com.

In [511]:
driver = webdriver.Chrome('chromedriver.exe')

#### Opening the website

In [512]:
driver.get('https://github.com/')

#### Clicking on 'Explore' and 'Trending'

In [513]:
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary').click()

In [514]:
time.sleep(1)

In [515]:
driver.find_element_by_xpath('/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul[2]/li[3]/a').click()

#### initializing the data

In [516]:
#Repository_title

repository_title = []

try:
    for i in driver.find_elements_by_xpath('//h1[@class = "h3 lh-condensed"]'):
        repository_title.append(i.text)
except:
    repository_title.append('-')
    
repository_title

#Repository_description

Repository_description = []

try:
    for i in driver.find_elements_by_xpath('//p[@class = "col-9 color-text-secondary my-1 pr-4"]'):
        Repository_description.append(i.text)
except:
    Repository_description.append('-')
    
Repository_description

#Contributors count

count = []

try:
    for i in driver.find_elements_by_xpath('//div[@class = "f6 color-text-secondary mt-2"]/a[2]'):
        count.append(i.text)
except:
    count.append('-')
    
count

#Language used

lang = []

try:
    for i in driver.find_elements_by_xpath('//div[@class = "f6 color-text-secondary mt-2"]/span'):
        lang.append(i.text)
except:
    lang.append('-')

['Shell',
 'Built by',
 '233 stars today',
 'Haskell',
 'Built by',
 '428 stars today',
 'Vim script',
 'Built by',
 '55 stars today',
 'Python',
 'Built by',
 '29 stars today',
 'HTML',
 'Built by',
 '97 stars today',
 'C',
 'Built by',
 '548 stars today',
 'JavaScript',
 'Built by',
 '250 stars today',
 'Swift',
 'Built by',
 '913 stars today',
 'Python',
 'Built by',
 '110 stars today',
 'Python',
 'Built by',
 '280 stars today',
 'Built by',
 '219 stars today',
 'Built by',
 '1,631 stars today',
 'C++',
 'Built by',
 '1,174 stars today',
 'Built by',
 '18 stars today',
 'JavaScript',
 'Built by',
 '53 stars today',
 'Built by',
 '85 stars today',
 'JavaScript',
 'Built by',
 '22 stars today',
 'Built by',
 '66 stars today',
 'Python',
 'Built by',
 '314 stars today',
 'Built by',
 '633 stars today',
 'Emacs Lisp',
 'Built by',
 '32 stars today',
 'TypeScript',
 'Built by',
 '173 stars today',
 'C',
 'Built by',
 '105 stars today',
 'JavaScript',
 'Built by',
 '28 stars today',
 'Rust',
 'Built by',
 '24 stars today']

In [517]:
print(len(repository_title), len(Repository_description), len(count), len(lang))

25 21 25 69

#### DataFraming the data

In [519]:
git = pd.DataFrame({})
git['Repository Title'] = repository_title[:21]
git['Repository Description'] = Repository_description
git['Contributors count'] = count[:21]
git['Language used'] = lang[:21]

In [520]:
git

,Repository Title,Repository Description,Contributors count,Language used
0,PaperMC / Paper,High performance Spigot fork that aims to fix ...,"1,004",Shell
1,hasura / graphql-engine,"Blazing fast, instant realtime GraphQL APIs on...","1,892",Built by
2,neovim / neovim,Vim-fork focused on extensibility and usability,"3,257",233 stars today
3,udacity / nd064_course_1,"A rugged, minimal framework for composing Java...",188,Haskell
4,alpinejs / alpine,Collection of publicly available IPTV channels...,674,Built by
5,madMAx43v3r / chia-plotter,Recreating a fully functional version of iOS 4...,423,428 stars today
6,iptv-org / iptv,Command-line program to download videos from Y...,"2,209",Vim script
7,zzanehip / The-OldOS-Project,解决电脑、手机看电视直播的苦恼，收集各种直播源，电视直播网站,119,Built by
8,ytdl-org / youtube-dl,Applied Deep Learning,"5,198",55 stars today
9,biancangming / wtv,A complete computer science study plan to beco...,348,Python
10,maziarraissi / Applied-Deep-Learning,alien is a GPU-accelerated artificial life sim...,110,Built by
11,jwasham / coding-interview-university,脚本，自用,"48,344",29 stars today
12,chrxh / alien,Learning Bootstrap 5 with SASS,35,HTML
13,the-hyp0cr1t3 / DSA-Training-2021,500 AI Machine learning Deep learning Computer...,11,Built by
14,wuzhi04 / MyActions,An easier way to build neural search on the cloud,59,97 stars today
15,yangtingxiao / QuantumultX,📚 Freely available programming books,362,C
16,MuriungiPatrick / Bootstrap-5-portfolio-template,An Emacs framework for the stubborn martian ha...,22,Built by
17,ashishpatel26 / 500-AI-Machine-learning-Deep-l...,"TikTok Scraper. Download video posts, collect ...","1,802",548 stars today
18,jina-ai / jina,Display and control your Android device,477,JavaScript
19,EbookFoundation / free-programming-books,The hackable text editor,"42,718",Built by
20,hlissner / doom-emacs,A new type of shell,"1,998",250 stars today

## Q.6 Scrape the details of top 100 songs on billiboard.com.

In [525]:
driver = webdriver.Chrome('chromedriver.exe')

In [526]:
driver.get('https://www.billboard.com/')

#### Clicking on 'Charts'

In [527]:
driver.find_element_by_xpath('//*[@id="root"]/div[2]/div[2]/header/div/ul/li[1]/a').click()

#### Clicking on 'Charts'

In [528]:
driver.find_element_by_xpath('//*[@id="main"]/div[2]/div/div[1]/a/div[2]/div[1]').click()

In [529]:
#song_name

name = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li/button/span[2]/span[1]'):
        name.append(i.text)
except:
    name.append('-')
    
name

#artist_name

artist = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li/button/span[2]/span[2]'):
        artist.append(i.text)
except:
    artist.append('-')
    
artist

#Last_week_rank

last = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li/button/div/div[2]'):
        last.append(i.text)
except:
    last.append('-')
    
last

#peak_rank

peak = []

try:
    for i in driver.find_elements_by_xpath("//div[@class = 'chart-element__meta text--center color--secondary text--peak']"):
        peak.append(i.text)
except:
    peak.append('-')
    
peak

#weeks_on_board

weeks = []

try:
    for i in driver.find_elements_by_xpath("//div[@class = 'chart-element__meta text--center color--secondary text--week']"):
        weeks.append(i.text)
except:
    weeks.append('-')

['2',
 '3',
 '35',
 '13',
 '25',
 '11',
 '8',
 '9',
 '16',
 '10',
 '26',
 '2',
 '21',
 '8',
 '32',
 '2',
 '78',
 '13',
 '2',
 '2',
 '16',
 '21',
 '16',
 '17',
 '20',
 '5',
 '2',
 '3',
 '20',
 '43',
 '42',
 '15',
 '6',
 '15',
 '22',
 '12',
 '13',
 '2',
 '13',
 '23',
 '39',
 '2',
 '10',
 '21',
 '3',
 '26',
 '12',
 '17',
 '14',
 '14',
 '19',
 '2',
 '11',
 '16',
 '7',
 '3',
 '15',
 '4',
 '17',
 '5',
 '2',
 '1',
 '6',
 '1',
 '3',
 '1',
 '3',
 '17',
 '4',
 '5',
 '25',
 '2',
 '17',
 '9',
 '1',
 '13',
 '6',
 '3',
 '11',
 '2',
 '1',
 '2',
 '20',
 '7',
 '8',
 '9',
 '6',
 '11',
 '5',
 '19',
 '14',
 '6',
 '3',
 '3',
 '18',
 '3',
 '13',
 '19',
 '1',
 '4']

In [530]:
songs = pd.DataFrame({})
songs['Song Name'] = name
songs['Artist Name'] = artist
songs['Last week rank'] = last
songs['Peak rank'] = peak
songs['Weeks on board'] = weeks

In [531]:
songs

,Song Name,Artist Name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,2
1,Good 4 U,Olivia Rodrigo,2,1,3
2,Levitating,Dua Lipa Featuring DaBaby,4,2,35
3,Leave The Door Open,Silk Sonic (Bruno Mars & Anderson .Paak),5,1,13
4,Save Your Tears,The Weeknd & Ariana Grande,7,1,25
...,...,...,...,...,...
95,All I Know So Far,P!nk,74,74,3
96,Hold On,Justin Bieber,20,20,13
97,Wasted On You,Morgan Wallen,9,9,19
98,Outside,MO3 X OG Bobby Billions,-,99,1
99,Botella Tras Botella,Gera MX + Christian Nodal,-,60,4

## Q7. Scrape the details of Data science recruiters from naukri.com.

In [537]:
driver = webdriver.Chrome('chromedriver.exe')

Tried clicking on 'Recruiters' section from naukri home page, it opens on next tab. Thus I chose to open it directly through link.

In [538]:
driver.get('https://www.naukri.com/hr-recruiters-consultants')

#### Searching the required term in search field.

In [539]:
search_bar = driver.find_element_by_name('qp')

search_bar.send_keys('Data Science')

driver.find_element_by_xpath('//*[@id="qsbFormBtn"]').click()

#### Initializing the data

In [540]:
Name = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="tabP-1"]/div/div/div/div/p/a[1]'):
        Name.append(i.text)
except:
    Name.append('-')
    
Name

#Designation

desig = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="tabP-1"]/div/div/div/div/p/span[1]'):
        desig.append(i.text)
except:
    desig.append('-')
    
desig

#company

company = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="tabP-1"]/div/div/div/div/p/a[2]'):
        company.append(i.text)
except:
    company.append('-')
    
company

#Skills

skills = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="tabP-1"]/div/div/div/div[2]'):
        skills.append(i.text)
except:
    skills.append('-')
    
skills

#location

loc = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="tabP-1"]/div/div/div/div/p/span[2]'):
        loc.append(i.text)
except:
    loc.append('-')

['Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Ahmedabad',
 'UK - (london)',
 'Vadodara / Baroda',
 'Chennai',
 'Trivandrum',
 'Indore',
 'Bengaluru / Bangalore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Pune',
 'Hyderabad / Secunderabad',
 'Bhopal',
 'Navi Mumbai',
 'Cochin',
 'Delhi',
 'Hyderabad / Secunderabad',
 'Pune',
 'Pune',
 'Pune',
 'Pune',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Delhi',
 'Bengaluru / Bangalore',
 'Bengaluru / Bangalore',
 'Mysoru / Mysore',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Noida',
 'New Delhi',
 'Chennai',
 'Aligarh',
 'Salt Lake City',
 'Pune',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Indore',
 'Bengaluru / Bangalore',
 'MYSORE',
 'Hyderabad / Secunderabad',
 'Bengaluru / Bangalore',
 'Mumbai',
 'Noida',
 'Mumbai']

In [541]:
print(len(Name), len(desig), len(company), len(skills), len(loc))

50 50 50 50 48

#### DataFraming the data of that particular page.

In [542]:
jobs = pd.DataFrame({})
jobs['Name'] = Name[:48]
jobs['Designation'] = desig[:48]
jobs['Company'] = company[:48]
jobs['Skills'] = skills[:48]
jobs['Location'] = loc

In [543]:
jobs

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
15,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
16,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
19,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
20,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
21,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
25,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
26,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
27,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
28,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
29,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
30,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",Bengaluru / Bangalore
32,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Noida
33,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
40,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
41,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
42,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
43,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
44,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
45,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
46,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida
47,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai

## Q8. Scrape the details of Highest selling novels.

In [544]:
driver = webdriver.Chrome('chromedriver.exe')

#### Getting the website

In [545]:
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

#### Initializing the data values

In [546]:
#Book_Name

name = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="article-body-blocks"]/div/table/tbody/tr/td[2]'):
        name.append(i.text)
except:
    name.append('-')
    
name

#Author

author = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="article-body-blocks"]/div/table/tbody/tr/td[3]'):
        author.append(i.text)
except:
    author.append('-')
    
author

#Volumes_sold

sold = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="article-body-blocks"]/div/table/tbody/tr/td[4]'):
        sold.append(i.text)
except:
    sold.append('-')
    
sold

#publisher

publisher = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="article-body-blocks"]/div/table/tbody/tr/td[5]'):
        publisher.append(i.text)
except:
    publisher.append('-')
    
publisher

#Genre

genre = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="article-body-blocks"]/div/table/tbody/tr/td[6]'):
        genre.append(i.text)
except:
    genre.append('-')

['Crime, Thriller & Adventure',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Romance & Sagas',
 "Children's Fiction",
 "Children's Fiction",
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 "Children's Fiction",
 'Romance & Sagas',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Romance & Sagas',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Popular Science',
 'Crime, Thriller & Adventure',
 'Young Adult Fiction',
 'Picture Books',
 'Picture Books',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Humour: Collections & General',
 'General & Literary Fiction',
 'Autobiography: General',
 'General & Literary Fiction',
 'Biography: The Arts',
 'Autobiography: General',
 'Picture Books',
 'Autobiography: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Science Fiction & Fantasy',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Fitness & Diet',
 'General & Literary Fiction',
 "Children's Fiction",
 'Crime, Thriller & Adventure',
 'Fitness & Diet',
 'Young Adult Fiction',
 'Usage & Writing Guides',
 'Food & Drink: General',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Young Adult Fiction',
 'General & Literary Fiction',
 'Popular Culture & Media: General Interest',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Crime, Thriller & Adventure',
 'Science Fiction & Fantasy',
 'Current Affairs & Issues',
 'Crime, Thriller & Adventure',
 'Autobiography: The Arts',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Travel Writing',
 'Food & Drink: General',
 'General & Literary Fiction',
 'National & Regional Cuisine',
 'Fitness & Diet',
 'Travel Writing',
 'Crime, Thriller & Adventure',
 'General & Literary Fiction',
 'Food & Drink: General',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Picture Books',
 'General & Literary Fiction',
 'Autobiography: The Arts',
 'Popular Science',
 "Children's Annuals",
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'General & Literary Fiction',
 'Food & Drink: General',
 'Young Adult Fiction',
 'Biography: General',
 'Food & Drink: General']

#### DataFraming the data

In [547]:
books = pd.DataFrame({})
books['Book name'] = name
books['Author Name'] = author
books['Volumes sold'] = sold
books['Publisher'] = publisher
books['Genre'] = genre

In [548]:
books

,Book name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

## Q.9 Scrape the details most watched tv series of all time from imdb.com.

In [549]:
driver = webdriver.Chrome('chromedriver.exe')

#### Getting the website

In [550]:
driver.get('https://www.imdb.com/list/ls095964455/')

#### Initializing the required data

In [551]:
#Name

name = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div/h3/a'):
        name.append(i.text)
except:
    name.append('-')

#Year_Span

span = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div/h3/span[2]'):
        span.append(i.text)
except:
    span.append('-')

#Genre

genre = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div/p/span[5]'):
        genre.append(i.text)
except:
    genre.append('-')
    
##Run_Time

ratings = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div/p/span[3]'):
        ratings.append(i.text)
except:
    ratings.append('-')
    
#Ratings
    
ratings = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div/div/div/span[2]'):
        ratings.append(i.text)
except:
    ratings.append('-')

#Votes

votes = []

try:
    for i in driver.find_elements_by_xpath('//*[@id="main"]/div/div[3]/div[3]/div/div/p[4]/span[2]'):
        votes.append(i.text)
except:
    votes.append('-')

#### DataFraming the data

In [552]:
imdb = pd.DataFrame({})
imdb['Name'] = name
imdb['Year span'] = span
imdb['Genre'] = genre
imdb['Ratings'] = ratings
imdb['Votes'] = votes

In [553]:
imdb

,Name,Year span,Genre,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",9.3,"1,822,140"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",8.7,"863,065"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",8.2,"874,125"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",7.6,"262,552"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",7.6,"223,871"
...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",7.5,"44,556"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",7.8,"55,043"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",8,"167,532"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",7.1,"34,867"
99,The Haunting of Hill House,(2018– ),"Drama, Horror, Mystery",8.6,"191,245"

## Q.10 Details of Datasets from UCI machine learning repositories.

In [554]:
driver = webdriver.Chrome('chromedriver.exe')

#### Getting the website for data collection

In [555]:
driver.get('https://archive.ics.uci.edu/')

#### Clicking on required tabs to our destination page.

In [556]:
driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td/span/b/a').click()

#### Initializing the respective data one by one.

In [557]:
#Dataset name

name = []

try:
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[1]/table/tbody/tr/td[2]/p/b/a'):
        name.append(i.text)
except:
    name.append('-')

#Datatype

datatype = []

try:
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[2]/p'):
        datatype.append(i.text)
except:
    datatype.append('-')
    
#Task

task = []

try:
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[3]/p'):
        task.append(i.text)
except:
    task.append('-')
    
#Attribute type

attribute = []

try:
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[4]/p'):
        attribute.append(i.text)
except:
    attribute.append('-')
    
#No.of Instances

instances = []

try:
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[5]/p'):
        instances.append(i.text)
except:
    instances.append('-')
    
#No.of attributes

att = []

try:
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[6]/p'):
        att.append(i.text)
except:
    att.append('-')
    
#Year

year = []

try:
    for i in driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td[7]/p'):
        year.append(i.text)
except:
    year.append('-')

In [558]:
print(len(name), len(task), len(attribute), len(instances), len(att), len(year), len(datatype))

588 589 589 589 589 589 589

In [561]:
uci = pd.DataFrame({})
uci['Dataset name'] = name
uci['Data type'] = datatype[1:]
uci['Task'] = task[1:]
uci['Attribute type'] = attribute[1:]
uci['No of instances'] = instances[1:]
uci['No of attributes'] = att[1:]
uci['Year'] = year[1:]

In [562]:
uci

,Dataset name,Data type,Task,Attribute type,No of instances,No of attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021